# Python / Django
backend/venv/
backend/db.sqlite3
backend/.env
backend/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Node / React
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env

# Editor & System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
