# Configurações do Django
DEBUG=True
SECRET_KEY=django-insecure-sua-chave-secreta-aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Conexão de Banco de Dados PostgreSQL (Neon.tech)
# Exemplo de URL de Conexão: postgres://usuario:senha@neon-host/db_name?sslmode=require
DATABASE_URL=postgres://seu_usuario:sua_senha@seu_host.neon.tech/neondb?sslmode=require
